<div class="paiskonteiner">
  <div class="container">
      <div class="paiserida row align-items-center">
          <div class="pais-logoala col-md-5 d-flex">
              <img src="/Canvas/klubilogo.png" class="pais-logo" alt="">
              <div class="pais-nimi">Hiking Club</div>
          </div>
          <div class="pais-menyy col-md-7 m-3 m-md-0">
              <ul class="d-md-flex flex-column flex-md-row">
                  <li><a href="/" target="_self">Home</a></li>
                  <li><a href="./Uudised" target="_self">News</a></li>
                  <li><a href="./Contact" target="_self">Contact Us</a></li>
              </ul>
          </div>
      </div>